/* Nitobi Callout Stylesheet Alert Style v1.1 */
.ntbSpot {
}
.ntbMouse {
background:url(assets/arrow.png) top left no-repeat;
width: 21px;
height: 34px;
}
.ntbMouseClick {
background:url(assets/arrow_click.png) top left no-repeat;
width: 29px;
height: 40px;
}
.ntbType {
background:url(assets/type.png) top left no-repeat;
width: 15px;
height: 33px;
}
.ntbWait {
background:url(assets/wait.png) top left no-repeat;
width: 26px;
height: 34px;
}
.ntbMouse_offset { top: 0px; left: 0px;}
.ntbMouseClick_offset { top: -7px; left: -7px;}
.ntbWait_offset { top: 0px; left: 0px;}
.ntbType_offset { top: -15px; left: 0px;}

.ntbmintCallout_next_off {
background:url(assets/next_off.gif) top left no-repeat;
width: 56px;
height: 23px;
cursor: pointer;
margin-top: 10px;	
}
.ntbmintCallout_next_on {
background:url(assets/next_on.gif) top left no-repeat;
width: 56px;
height: 23px;
cursor: pointer;
margin-top: 10px;	
}
.ntbmintCallout_closeoffset1, .ntbmintCallout_closeoffset0, .ntbmintCallout_closeoffset2, .ntbmintCallout_closeoffset3, .ntbmintCallout_closeoffset4, .ntbmintCallout_closeoffset5, .ntbmintCallout_closeoffset6, .ntbmintCallout_closeoffset7, .ntbmintCallout_closeoffset8 {
top: 41px;
left:-0px;
}
.ntbmintCallout_close_off {
background:url(assets/close_off.gif) top left no-repeat;
width: 10px;
height: 10px;
cursor: pointer;	
}
.ntbmintCallout_close_on {
background:url(assets/close_on.gif) top left no-repeat;
width: 10px;
height: 10px;
cursor: pointer;
}
.ntbmintCallout_bodytitlediv1,.ntbmintCallout_bodytitlediv2,.ntbmintCallout_bodytitlediv0 {
top:50px;
left:40px;
}
.ntbmintCallout_bodytitlediv3, .ntbmintCallout_bodytitlediv4, .ntbmintCallout_bodytitlediv5, .ntbmintCallout_bodytitlediv6, .ntbmintCallout_bodytitlediv7,.ntbmintCallout_bodytitlediv8 {
top:50px;
left:20px;
}
.ntbmintCallout_bodydiv0,.ntbmintCallout_bodydiv1,.ntbmintCallout_bodydiv2,.ntbmintCallout_bodydiv3,.ntbmintCallout_bodydiv4,.ntbmintCallout_bodydiv5,.ntbmintCallout_bodydiv6,.ntbmintCallout_bodydiv7,.ntbmintCallout_bodydiv8 {
position: absolute;
top:80px;
left:40px;
font-size: 12px;
line-height:15px;
color: #333333;
font-family: Arial, Helvetica, sans-serif;
white-space:normal;
font-weight: normal;
}
.ntbmintCallout_bodydiv3{
top:80px;
left:40px;
}
.ntbmintCallout_bodydiv4 {
top:80px;
left:40px;
}
.ntbmintCallout_bodydiv5 {
top:80px;
left:40px;
}
.ntbmintCallout_bodydiv6 {
top:80px;
left:40px;
}
.ntbmintCallout_bodydiv7,.ntbmintCallout_bodydiv8 {
top:80px;
left:40px;
}
.ntbmintCallout_titlediv0,.ntbmintCallout_titlediv1,.ntbmintCallout_titlediv2,.ntbmintCallout_titlediv3,.ntbmintCallout_titlediv4,.ntbmintCallout_titlediv5,.ntbmintCallout_titlediv6,.ntbmintCallout_titlediv7,.ntbmintCallout_titlediv8 {
position: absolute;
top:40px;
left:40px;
font-weight:bold;
font-size: 16px;
color: #ffffff;
font-family: Arial, Helvetica, sans-serif;
white-space:nowrap;
width:auto;
}
.ntbmintCallout_offset1,.ntbmintCallout_offset0,
.ntbmintCallout_offset2, .ntbmintCallout_offset3, .ntbmintCallout_offset4, .ntbmintCallout_offset5, .ntbmintCallout_offset6, .ntbmintCallout_offset7, .ntbmintCallout_offset8 {
left:0px;
top:0px;
width:30px;
height:25px;
}
.ntbmintCallout_offset6 {
width:0px;
}
.ntbmintCallout_mastercontainer {
padding: 0px;
margin: 0px;
}
.ntbmintCallout_rt_right {
background:url(slices/arrow_lb.png) top left no-repeat;
width: 50px;/**/
}
.ntbmintCallout_rt_br {
background:url(slices/bottomleft.png) top left no-repeat;
width: 50px;/**/
height: 50px;/**/
}
.ntbmintCallout_rb_main {
background:url(slices/topleft_large.png) top left no-repeat;
}
.ntbmintCallout_rb_bottom {
background:url(slices/bottomright.png) top left no-repeat;
height: 50px;/**/
}
.ntbmintCallout_rb_right {
background:url(slices/topright.png) top left no-repeat;
width: 50px;/**/
}
.ntbmintCallout_rb_rb {
background:url(slices/arrow_lt.png) top left no-repeat;
width: 50px;/**/
height: 100px;
}
.ntbmintCallout_lb_left {
background:url(slices/topleft_thin.png) top left no-repeat;
width: 50px;/**/
}
.ntbmintCallout_lb_lb {
background:url(slices/arrow_rt.png) top left no-repeat;
width: 50px;/**/
height: 100px;	
}
.ntbmintCallout_lb_main {
background:url(slices/topcenter.png) top left no-repeat;
}
.ntbmintCallout_lb_bottom {
background:url(slices/topbottom.png) top left no-repeat;
height: 50px;/**/
}
.ntbmintCallout_lb_right {
background:url(slices/topright.png) top left no-repeat;
width: 50px;/**/
}
.ntbmintCallout_lb_br {
background:url(slices/bottomleft.png) top left no-repeat;
width: 50px;/**/
height: 50px;/**/
}
.ntbmintCallout_lt_main {
background:url(slices/arrow_rb.png) top left no-repeat;
}
.ntbmintCallout_lt_bottom {
background:url(slices/bottomright.png) top left no-repeat;
height: 50px;/**/
}
.ntbmintCallout_lt_right {
background:url(slices/topright.png) top left no-repeat;
width: 50px;/**/
}
.ntbmintCallout_lt_br {
background:url(slices/bottomleft.png) top left no-repeat;
width: 50px;/**/
height: 50px;/**/
}
.ntbmintCallout_tl_main {
background:url(slices/arrow_br.png) top left no-repeat;
}
.ntbmintCallout_tl_right {
background:url(slices/topright.png) top left no-repeat;
width: 50px;/**/
}
.ntbmintCallout_tl_br_plain {
background:url(slices/bottomleft.png) top left no-repeat;
width: 50px;/**/
height: 50px;/**/
}
.ntbmintCallout_bl_main {
background:url(slices/topleft_large.png) top left no-repeat;
}
.ntbmintCallout_bl_right {
background:url(slices/topright.png) top left no-repeat;
width: 50px;/**/
}
.ntbmintCallout_bottom_plain {
background:url(slices/bottomright.png) top left no-repeat;
height: 100px;/**/
}
.ntbmintCallout_br_bottom {
background:url(slices/arrow_tl.png) top left no-repeat;
width: 100px;
height: 50px;/**/
}
.ntbmintCallout_bl_bottom {
background:url(slices/arrow_tr.png) top left no-repeat;
height: 50px;/**/
}
.ntbmintCallout_br_plain {
background:url(slices/bottomleft.png) top left no-repeat;
width: 50px;/**/
height: 50px;/**/
}
.ntbmintCallout_tr_topright {
background:url(slices/arrow_bl.png) top left no-repeat;
width: 100px;
height: 50px;/**/
}
.ntbmintCallout_tr_topleft {
background:url(slices/topleft.png) top left no-repeat;
height: 50px;/**/
}
.ntbmintCallout_tr_mainpart {
background:url(slices/middleleft.png) top left no-repeat;
}
.ntbmintCallout_tr_right {
background:url(slices/middleright.png) top left no-repeat;
width: 50px;/**/
}
.ntbmintCallout_extender {
width: 12px;/**/
}
.ntbmintCallout_minimums {
width: 13px;/**/
height: 10px;/**/
}