/* Font settings */ 
.plastik .ntb-tab-strip, .plastik .ntb-tab-strip a {
	overflow:hidden;
	width:100%;
	height:100%;
	font-size: 14px; 
	font-family: Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	text-align:left;
	font-weight:normal;
	white-space: nowrap;
	padding:0px;
	margin:0px;	
}
.plastik .ntb-tab a, .plastik .ntb-tab-inactive  .ntb-tab-label a, .plastik .ntb-tab-active .ntb-tab-label a {
	color: #ffffff;	
	text-decoration: none;
	display: block;
	padding-top:5px;
}
.plastik .ntb-tab-active .ntb-tab a {
	font-weight:bold;
}
.plastik .ntb-tab-disabled .ntb-tab,  {
	font-weight:bold;
	font-size: 11px; 
	color:gray;
	text-align:left;
	cursor:pointer;
}
.plastik .ntb-tab-disabled .ntb-tab a {
	text-decoration:none;
	cursor:pointer;
}

/* default */
.plastik .ntb-tab-strip-max, .plastik .ntb-tab-strip-body-container {
	width:100%;
	height:100%
}
.plastik .ntb-tab-strip .ntb-tab-tabs-row {
	vertical-align:top;
}
.plastik .ntb-tab-bodies-row {
	width: 100%;
	vertical-align:top;
}
.plastik .ntb-tab-strip-body-container {
	border: 1px solid lightgrey;
}
.plastik .ntb-tab-mouseover .ntb-tab {
	font-weight:bold;
	white-space: nowrap;
	padding:0px;
	margin:0px;
}

/* scroller */
.plastik .ntb-tab-scrollerbuttoncontainer {
	width:15px;
	white-space:normal;
}
.plastik .ntb-tab-scrollerbutton {
	width:14px;
	height: 14px;
	font-size:7pt;
	border: 1px solid black;
	padding:0px;
	margin:auto;
	background-repeat:no-repeat;
	background-position: center;
}
.plastik .ntb-tab-scrollerbutton-left {
	background-image: url(assets/left.png);
}
.plastik .ntb-tab-scrollerbutton-right {
	background-image: url(assets/right.png);
}

/* iframe */
.plastik .ntb-tab-active .ntb-tab-iframecontainer, .plastik .ntb-tab-disabled .ntb-tab-iframecontainer {
	border:0;
	position:static;
	width:100%;
	height:100%;
}
.plastik .ntb-tab-inactive .ntb-tab-iframecontainer {
	border:0;
	width:0px;
	height:0px;
	top:-1000px;
	left:-1000px;
	position:absolute;
}

/* Other */
.plastik .ntb-tab-icon-active {
	width: 15%;
}

.plastik .ntb-tab-container {
	overflow:hidden;
}

.plastik .ntb-leading-tab {
	border: black 1px solid;
	background-color: red;
}

.plastik .ntb-tab-tabs {
	position:relative;
	top:0px;
	table-layout:fixed;
	border-collapse:collapse;
}
.plastik .ntb-tab-inactive  .ntb-tab-label, .plastik .ntb-tab-active .ntb-tab-label {
	border-collapse: collapse;
	width:100%;
	height:30px;
}
.plastik .ntb-tab-active .ntb-tab-mouseover .ntb-tab-label {
	border-collapse: collapse;
	width:100%;
}
.plastik .ntb-tab-inactive  .ntb-tab-bodycontainer {
	top:-1000px;
	left:-1000px;
	position:absolute;
}
.plastik .ntb-tab-active .ntb-tab-bodycontainer {
	position:static;
}
.plastik .ntb-tab-mintable {
	border-collapse:collapse;
	padding:0;
	margin:0;
	table-layout:fixed;
}

/* load indicator */
.plastik .ntb-tab-activityindicator {
	white-space:nowrap;
	background-image:url(assets/indicator.gif);
	background-repeat:no-repeat;
	background-position:center;
	width:16px;
	height:16px;
}

/* Setting z-indexes */
.plastik .ntb-tab-inactive .ntb-tab a {
	z-index:302;
}
.plastik .ntb-tab-active .ntb-tab-bodycontainer, .plastik .ntb-tab-active .ntb-tab-iframecontainer, .plastik .ntb-tab-disabled .ntb-tab-iframecontainer, .plastik .ntb-tab-active .ntb-tab-table {
	z-index:300;
}
.plastik .ntb-tab-bodycontainer, .plastik .ntb-tab-inactive .ntb-tab-iframecontainer, .plastik .ntb-tab-inactive  .ntb-tab-bodycontainer, .plastik .ntb-tab-inactive .ntb-tab-table {
	z-index:299;
}
.plastik .ntb-tab-active .ntb-tab-body, .plastik .ntb-tab-active .ntb-tab-left, .plastik .ntb-tab-active .ntb-tab-right, .plastik .ntb-tab-active .ntb-tab-mouseover .ntb-tab-body, .plastik .ntb-tab-active .ntb-tab-mouseover .ntb-tab-left, .plastik .ntb-tab-active .ntb-tab-mouseover .ntb-tab-right {
	z-index:200;
}
.plastik .ntb-tab-disabled .ntb-tab-body, .plastik .ntb-tab-disabled .ntb-tab-left, .plastik .ntb-tab-disabled .ntb-tab-right, .plastik .ntb-tab-disabled .ntb-tab-bodycontainer, .plastik .ntb-tab-disabled .ntb-tab-table  {
	z-index:199;
}
.plastik .ntb-tab-inactive .ntb-tab-body .ntb-pulse, .plastik .ntb-tab-inactive  .ntb-tab-left .ntb-pulse, .plastik .ntb-tab-inactive .ntb-tab-right .ntb-pulse {
	z-index:101;
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	visibility:hidden;
	opacity:0.0;
}
.plastik .ntb-tab-inactive .ntb-tab-body, .plastik .ntb-tab-inactive  .ntb-tab-left, .plastik .ntb-tab-inactive .ntb-tab-right, .plastik .ntb-tab-inactive .ntb-tab-mouseover .ntb-tab-body, .plastik .ntb-tab-inactive  .ntb-tab-mouseover .ntb-tab-left, .plastik .ntb-tab-inactive .ntb-tab-mouseover .ntb-tab-right {
	z-index:100;
}

/* Tab settings */
.plastik .ntb-tab-inactive .ntb-tab-table, .plastik .ntb-tab-active .ntb-tab-table, .plastik .ntb-tab-disabled .ntb-tab-table, .plastik .ntb-tab-inactive .ntb-tab, .plastik .ntb-tab-inactive .ntb-tab-body .ntb-pulse {
	width:100%;
	height:32px;
	border-collapse:collapse;
	border:0;
	table-layout:fixed;			
	position:relative;
	cursor:pointer;
}
.plastik .ntb-tab-inactive .ntb-tab-left , .plastik .ntb-tab-active .ntb-tab-left , .plastik .ntb-tab-disabled .ntb-tab-left, .plastik .ntb-tab-inactive .ntb-tab-left .ntb-pulse {
	width: 12px;
	height:32px;
}
.plastik .ntb-tab-inactive .ntb-tab-right, .plastik .ntb-tab-active .ntb-tab-right, .plastik .ntb-tab-disabled .ntb-tab-right, .plastik .ntb-tab-inactive  .ntb-tab-left .ntb-pulse {
	width:30px;
	height:32px;
}

/* Inactive */
.plastik .ntb-tab-inactive .ntb-tab-body {
	background:url(tabs/body/inactivebody.png) top left repeat-x;
}
.plastik .ntb-tab-inactive  .ntb-tab-left {
	background: url(tabs/left/inactiveleft.png) top right no-repeat;
}
.plastik .ntb-tab-inactive .ntb-tab-right {
	background:url(tabs/right/inactiveright.png) top left no-repeat;
}
/* inactive hover */
.plastik .ntb-tab-inactive .ntb-tab-mouseover .ntb-tab {
	white-space:nowrap;
	padding:0px;
	margin:0px;
	text-align:left;
	padding-top:0px;
	cursor:pointer;
}
.plastik .ntb-tab-inactive .ntb-tab-mouseover .ntb-tab-body {
	background:url(tabs/body/inactivebody_hover.png) top left repeat-x;
}
.plastik .ntb-tab-inactive  .ntb-tab-mouseover .ntb-tab-left {
	background: url(tabs/left/inactiveleft_hover.png) top right no-repeat;
}
.plastik .ntb-tab-inactive .ntb-tab-mouseover .ntb-tab-right {
	background:url(tabs/right/inactiveright_hover.png) top left no-repeat;
}

/* active */
.plastik .ntb-tab-active .ntb-tab-body {
	background:url(tabs/body/activebody.png) top left repeat-x;
}
.plastik .ntb-tab-active .ntb-tab-left {
	background:url(tabs/left/activeleft.png) top right no-repeat;
}
.plastik .ntb-tab-active .ntb-tab-right {
	background: url(tabs/right/activeright.png) top left no-repeat;
}
/* active hover */
.plastik .ntb-tab-active .ntb-tab-mouseover .ntb-tab-body {
	background:url(tabs/body/activebody_hover.png) top left repeat-x;
}
.plastik .ntb-tab-active .ntb-tab-mouseover .ntb-tab-left {
	background:url(tabs/left/activeleft_hover.png) top right no-repeat;
}
.plastik .ntb-tab-active .ntb-tab-mouseover .ntb-tab-right {
	background:url(tabs/right/activeright_hover.png) top left no-repeat;
}

/* disabled */
.plastik .ntb-tab-disabled .ntb-tab-body {
	background:url(tabs/body/inactivebody.png) top left repeat-x;
}
.plastik .ntb-tab-disabled .ntb-tab-left {
	background:url(tabs/left/inactiveleft.png) top right no-repeat;
}
.plastik .ntb-tab-disabled .ntb-tab-right {
	background:url(tabs/right/inactiveright.png) top left no-repeat;
}

/* pulse */
.plastik .ntb-tab-inactive .ntb-tab-body .ntb-pulse {
	background:url(tabs/body/ractivebody.png) top left repeat-x;
}
.plastik .ntb-tab-inactive .ntb-tab-left .ntb-pulse {
	background: url(tabs/left/ractiveleft.png) top right no-repeat;
}
.plastik .ntb-tab-inactive .ntb-tab-right .ntb-pulse {
	background:url(tabs/right/ractiveright.png) top left no-repeat;
}

/* red tab inactive */
.plastik .redtab .ntb-tab-inactive  .ntb-tab-body {
	background:url(tabs/body/inactivebody.png) top left repeat-x;
}
.plastik .redtab .ntb-tab-inactive  .ntb-tab-left {
	background:url(tabs/left/inactiveleft.png) top right no-repeat;
}
.plastik .redtab .ntb-tab-inactive  .ntb-tab-right {
	background:url(tabs/right/inactiveright.png) top left no-repeat;
}
/* red tab inactive hover */
.plastik .redtab .ntb-tab-inactive  .ntb-tab-mouseover .ntb-tab-body {
	background:url(tabs/body/inactivebody_hover.png) top left repeat-x;
}
.plastik .redtab .ntb-tab-inactive  .ntb-tab-mouseover .ntb-tab-left {
	background:url(tabs/left/inactiveleft_hover.png) top right no-repeat;
}
.plastik .redtab .ntb-tab-inactive  .ntb-tab-mouseover .ntb-tab-right {
	background:url(tabs/right/inactiveright_hover.png) top left no-repeat;
}

/* red tab active */
.plastik .redtab .ntb-tab-active  .ntb-tab-body {
	background:url(tabs/body/ractivebody.png) top left repeat-x;
}
.plastik .redtab .ntb-tab-active  .ntb-tab-left {
	background:url(tabs/left/ractiveleft.png) top right no-repeat;
}
.plastik .redtab .ntb-tab-active  .ntb-tab-right {
	background:url(tabs/right/ractiveright.png) top left no-repeat;
}
/* red tab active hover */
.plastik .redtab .ntb-tab-active  .ntb-tab-mouseover .ntb-tab-body {
	background:url(tabs/body/ractivebody_hover.png) top left repeat-x;
}
.plastik .redtab .ntb-tab-active  .ntb-tab-mouseover .ntb-tab-left {
	background:url(tabs/left/ractiveleft_hover.png) top right no-repeat;
}
.plastik .redtab .ntb-tab-active  .ntb-tab-mouseover .ntb-tab-right {
	background:url(tabs/right/ractiveright_hover.png) top left no-repeat;
}

/* green tab inactive */
.plastik .greentab .ntb-tab-inactive  .ntb-tab-body {
	background:url(tabs/body/inactivebody.png) top left repeat-x;
}
.plastik .greentab .ntb-tab-inactive  .ntb-tab-left {
	background:url(tabs/left/inactiveleft.png) top right no-repeat;
}
.plastik .greentab .ntb-tab-inactive  .ntb-tab-right {
	background:url(tabs/right/inactiveright.png) top left no-repeat;
}
/* green tab inactive hover */
.plastik .greentab .ntb-tab-inactive  .ntb-tab-mouseover .ntb-tab-body {
	background:url(tabs/body/inactivebody_hover.png) top left repeat-x;
}
.plastik .greentab .ntb-tab-inactive  .ntb-tab-mouseover .ntb-tab-left {
	background:url(tabs/left/inactiveleft_hover.png) top right no-repeat;
}
.ntb-tab-right, .plastik .greentab .ntb-tab-inactive  .ntb-tab-mouseover .ntb-tab-right {
	background:url(tabs/right/inactiveright_hover.png) top left no-repeat;
}

/* green tab active */
.plastik .greentab .ntb-tab-active  .ntb-tab-body {
	background:url(tabs/body/gactivebody.png) top left repeat-x;
}
.plastik .greentab .ntb-tab-active  .ntb-tab-left {
	background:url(tabs/left/gactiveleft.png) top right no-repeat;
}
.plastik .greentab .ntb-tab-active  .ntb-tab-right {
	background:url(tabs/right/gactiveright.png) top left no-repeat;
}
/* green tab active hover */
.plastik .greentab .ntb-tab-active  .ntb-tab-mouseover .ntb-tab-body {
	background:url(tabs/body/gactivebody_hover.png) top left repeat-x;
}
.plastik .greentab .ntb-tab-active  .ntb-tab-mouseover .ntb-tab-left {
	background:url(tabs/left/gactiveleft_hover.png) top right no-repeat;
}
.plastik .greentab .ntb-tab-active  .ntb-tab-mouseover .ntb-tab-right {
	background:url(tabs/right/gactiveright_hover.png) top left no-repeat;
}

/* purple tab inactive */
.plastik .purpletab .ntb-tab-inactive  .ntb-tab-body {
	background:url(tabs/body/inactivebody.png) top left repeat-x;
}
.plastik .purpletab .ntb-tab-inactive  .ntb-tab-left {
	background:url(tabs/left/inactiveleft.png) top right no-repeat;
}
.plastik .purpletab .ntb-tab-inactive  .ntb-tab-right {
	background:url(tabs/right/inactiveright.png) top left no-repeat;
}
/* purple tab inactive hover */
.plastik .purpletab .ntb-tab-inactive  .ntb-tab-mouseover .ntb-tab-body {
	background:url(tabs/body/inactivebody_hover.png) top left repeat-x;
}
.plastik .purpletab .ntb-tab-inactive  .ntb-tab-mouseover .ntb-tab-left {
	background:url(tabs/left/inactiveleft_hover.png) top right no-repeat;
}
.plastik .purpletab .ntb-tab-inactive  .ntb-tab-mouseover .ntb-tab-right {
	background:url(tabs/right/inactiveright_hover.png) top left no-repeat;
}

/* purple tab active */
.plastik .purpletab .ntb-tab-active  .ntb-tab-body {
	background:url(tabs/body/pactivebody.png) top left repeat-x;
}
.plastik .purpletab .ntb-tab-active  .ntb-tab-left {
	background:url(tabs/left/pactiveleft.png) top right no-repeat;
}
.plastik .purpletab .ntb-tab-active  .ntb-tab-right {
	background:url(tabs/right/pactiveright.png) top left no-repeat;
}
/* purple tab active hover */
.plastik .purpletab .ntb-tab-active  .ntb-tab-mouseover .ntb-tab-body {
	background:url(tabs/body/pactivebody_hover.png) top left repeat-x;
}
.plastik .purpletab .ntb-tab-active  .ntb-tab-mouseover .ntb-tab-left {
	background:url(tabs/left/pactiveleft_hover.png) top right no-repeat;
}
.plastik .purpletab .ntb-tab-active  .ntb-tab-mouseover .ntb-tab-right {
	background:url(tabs/right/pactiveright_hover.png) top left no-repeat;
}